@charset "utf-8";
body {  
padding: 0;   
margin:  0;   }  

img {position: absolute;} 

.DogA2 {
  left: 279px;
  top: 439px;
}	

body {  
padding: 0;   
margin:  0;   }  

img {position: absolute;} 
 .CatA {	
  left: 923px;
  top: 490px;
}
	



